/* Add this to your services.css file */
.section-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #285f61; /* Blue color, you can adjust as needed */
}

.content-section p {
    margin-bottom: 20px;
    line-height: 1.5; /* Adjust line height for better readability */
    margin-bottom: 60px; /* Increased margin for more spacing */
    line-height: 1.5;
}


/* Marquee */
/* Add styles for the new marquee section */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee-section {
    background-color: #f0f0f0; /* Background color for the marquee section */
    padding: 20px; /* Adjust the padding as needed */
}

.custom-marquee {
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid #ccc; */
    padding: 60px;
}


.marquee-content {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    animation: marquee 15s linear infinite;
    animation-direction: alternate; /* Alternate between start and end states */
}



img {
    width: 60px;
    height: 60%;
    margin-right: 30px;
}

