{% extends 'base.html' %}

{% block content %}
<div class="about-page">
    <div class="main-content">
        <section class="about-section">
            <div class="container">
                <h1>About Me</h1>
    
                <video autoplay muted loop>
                    <source src="../static/video/itwomen.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>Hello there! I'm <strong>Maki Dizon</strong>, a web designer and Python developer with a passion for all things digital. Beyond the code and design, I'd like to share a bit of my personal journey with you.</p>
                <p>My path into the tech world was a serendipitous one. I made the leap from being a DevOps Engineer to follow my heart and pursue my creative side in web design and development. It's been a thrilling ride filled with endless learning and growth.</p>
                <p>When I'm not in front of the computer, you'll often find me in the kitchen, whipping up a delicious pasta dish or making the perfect Ruben sandwich. Cooking is not just a hobby for me; it's a form of creative expression and a way to unwind.</p>
                <p>On lazy weekends, I love immersing myself in the vast world of Skyrim, going on epic adventures and conquering dragons. I also have a soft spot for nostalgia and can't resist watching reruns of "The Golden Girls" with a bowl of popcorn.</p>
                <p>Baking is another one of my passions, and there's nothing quite like the aroma of a freshly baked apple pie filling the kitchen. It's a delightful way for me to combine my love for creativity and food.</p>
                <p>As a self-taught enthusiast, I cherish the opportunity to connect with fellow learners and share knowledge. Whether it's web design, Python development, or just a friendly chat about our favorite games or recipes, I'm here to connect and explore the exciting world of technology and beyond together.</p>
                <p>Thank you for visiting my page, and I look forward to getting to know you better as we embark on this journey together!</p>
            </div>
        </section>
    </div>
</div>
    
{% endblock content %}
