{% extends 'base.html' %}

{% block content %}
<div class="about-page">
    <div class="main-content">
        <section class="about-section">
            <div class="container">
                <h1>About Me</h1>
    
                <video autoplay muted loop>
                    <source src="../static/video/blush.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>I'm <strong>Maki Dizon</strong>, a passionate Web Designer and Python Developer. I recently made a career switch from DevOps Engineer to focus on creating beautiful and functional websites.</p>
                <p>I have a strong interest in AI, particularly in the fields of Data Science and Machine Learning.</p>            
                <p>I am entirely self-taught, and I enjoy sharing my knowledge with others. I'm open to mentoring and tutoring those who are eager to learn. Feel free to reach out if you have any questions or if you're looking for guidance in web design or Python development.</p> 
                <p>Outside of coding, I have a love for popcorn and video games. Let's connect and explore the exciting world of technology together!</p>            
            </div>
        </section>
    </div>
</div>
    
{% endblock content %}
