<!-- Header -->
<header>
    <section>
        <main>
            <div class="container">
                <div class="container">
                    <div class="hero-grid">
                        <div>
                            <h1>A Dash of Sci-Dyllics</h1>
                            <div>
                                <p>
                                    Embark on a voyage into the realm of Sci-Dyllic Reverie – where the commonplace transcends into the extraordinary, and the allure of existence unfolds in every nanosecond. Elevate your routine encounters, revel in the beauty of simplicity, and immerse yourself in a cognitive vista that transmutes the humdrum into the enchanting. Explore the fusion of idyllic tranquility and futuristic wonders, as each moment unfolds a tapestry of sci-fi-infused serenity.
                                </p>
                            </div>
                        </div>
                        <div>
                            <video autoplay muted loop>
                                <source src="../static/video/scydillics.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>                
        </main>        
    </section>
</header>
