{% extends 'base.html' %}

{% block content %}
<style>
    body, html {
        height: 100%; /* Ensure full height */
        margin: 0;
    }

    .content {
        min-height: calc(100vh - 60px); /* Adjust this value based on your footer's height */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .register-section {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 100px;
        margin: 0 auto; /* Centered with margin */
        padding: 50px;
        background-color: #ffffe6;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 900px; /* Control the width of the section */
    }

    .register-section > div {
        flex: 1;
    }

    .register-section img {
        margin-top: 35px;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 8px;
        align-self: center;
    }

    .form-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-container > h2 {
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }

    .btn-primary {
        background-color: #214346;
        /* border-color: #214346; */
        color: #f1eddc;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #ff8e00;
        border-color: #0062cc;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
    }

    a {
        color: #007bff;
    }

    a:hover {
        color: #0056b3;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .register-section {
            flex-direction: column;
            align-items: center;
        }

        .register-section img {
            max-width: 300px;
            margin-bottom: 20px;
        }
    }
</style>

<div class="content">
    <section class="register-section">
        <div>
            <img src="../static/images/login-hero-25.png" alt="landscape">
        </div>
        <div class="form-container">
            <h2>Login</h2>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username(placeholder="Username", size=32, class_='form-control') }}
                    {% if form.username.errors %}
                        <div class="alert alert-danger">
                            {{ form.username.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password(placeholder="Password", size=32, class_='form-control') }}
                    {% if form.password.errors %}
                        <div class="alert alert-danger">
                            {{ form.password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </section>
</div>

{% endblock content %}