{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <article class="post">
        <h1>{{ post.title }}</h1>
        {% if post.post_image %}
            <img src="{{ url_for('static', filename=post.post_image) }}" alt="{{ post.title }}">
        {% endif %}
        <div class="content">
            {{ post.content|safe }}
        </div>
        <br>
        <p><i>Posted by {{ post.author }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</i></p>
    </article>
</div>

<!-- Update the link to use post.slug instead of post.id -->
<p><a href="{{ url_for('view_post', slug=post.slug) }}">Back to all posts</a></p>
{% endblock %}
