{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock header %}

{% block content %}
    <!-- Main Content for the Home Page -->
    <section>
        <div class="main-content">
            <main>
                <div class="container">
                    <!-- Content specific to the homepage -->
                    <!-- For example, the Gallery section -->
                    <h1>Gallery</h1>
                    <div class="feature-item">
                        <img src="../static/images/androidandsheep-modified.png" alt="Feature Image">
                        <div class="feature-text">
                            <h2>Feature Title</h2>
                            <p>Posted on: <span class="date">Date</span></p>
                        </div>
                    </div>
                    <!-- Add more feature items as needed -->
                </div>
            </main>
        </div>
    </section>

    <!-- Divider -->
    <div class="section-divider"></div>


    <!-- Subscribe Section -->
    <section class="subscribe-section">
        <div class="container">
            <div class="subscribe-form-wrapper">
                <form id="subscribe-form" class="subscribe-form" method="post">
                    {{ form.hidden_tag() }} <!-- Include hidden fields for CSRF protection -->
                    <div class="subscribe-title">Subscribe to Newsletters</div>
                    <p>Stay updated with the latest news and exclusive offers.</p>
                    <br>
                    <div class="subscribe-inputs">
                        <input type="email" id="emailInput" class="subscribe-input" placeholder="Enter your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                        <input type="submit" value="Subscribe Now" class="subscribe-button" onclick="subscribeFunction(event)">
                    </div>
                </form>                   
            </div>
        </div>
    </section>

    

    <!-- Custom Alert Modal -->
    <div id="alertModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <p id="modalMessage">Your message here.</p>
        </div>
    </div>


    <script>
        function subscribeFunction(event) {
            event.preventDefault(); // Prevent default form submission

            var email = document.getElementById("emailInput").value; // Get the email input value
            var csrfToken = document.querySelector('input[name="csrf_token"]').value; // Fetch CSRF token from hidden input
            var data = { email: email };

            fetch('/subscribe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("modalMessage").innerText = data.message;
                document.getElementById("alertModal").style.display = "block";
            })
            .catch(error => {
                document.getElementById("modalMessage").innerText = "An error occurred. Please try again later.";
                document.getElementById("alertModal").style.display = "block";
            })
            .finally(() => {
                document.getElementById("subscribe-form").reset(); // Reset the form in all cases
            });

            return false; // Prevent form submission
        }

      
        function closeModal() {
            document.getElementById("alertModal").style.display = "none"; // Function to close the modal
        }
      </script>
      
{% endblock content %}
